<section id="section-author-show">
  <div class="row justify-content-between">
    <div class="col-auto">
      <%= render 'layouts/display_title', {title: @author.name} %>
    </div>
    <div class="col text-right align-self-center py-2">
      <%= button_to 'Edit Author', edit_author_path(@author), method: 'get', class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-horizontal-md justify-content-end text-right">
        <li class="list-group-item border-0 h3"><%= string_dob_dod @author %></li>
      </ul>
    </div>
  </div>
  <% unless @author.bio.nil? || @author.bio.blank?%>
  <hr>
  <div class="row">
    <div class="col">
      <p><%= @author.bio %></p>
    </div>
  </div>
  <% end %>

  <% if @author.books.size > 0 %>
  <hr>
  <div class="row">
    <h3 class="col-12">From this author:</h3>
    <%= render 'books/grid', {books: @author.books.ordered(params[:order], params[:ad])}%>
  </div>
  <% end %>

</section>
