<section id="section-library-show">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1 class="display-1">Library of <span class="font-weight-normal"><%= @library.user.username%></span></h1>
    </div>
    <div class="w-100 d-lg-none"></div>
    <div class="col align-self-center">
      <div class="row justify-content-end">
        <% if @user.is_admin && !@library.user.is_admin %>
          <div class="col-auto py-2">
            <%= link_to 'Promote User', user_path(@library.user), method: :put, data: {confirm: 'Are you sure?'},
                        class: 'btn btn-success'%>
          </div>
        <% end %>
        <% if @user.is_admin || @library.user.id == @user.id%>
          <div class="col-auto py-2">
            <%= link_to 'Delete User', user_path(@library.user), method: :delete, data: {confirm: 'Are you sure?'},
                        class: 'btn btn-danger'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% books_count = @library.books.size %>
  <hr>
  <div class="row">
    <div class="col-auto align-self-center">
      <h4><%=books_count%> <%=books_count == 1 ? 'book' : 'books'%> saved:</h4>
    </div>
    <% if @library.id == @user.library.id %>
    <div class="col text-right align-self-center py-2">
      <%= link_to 'Edit Books', edit_books_library_path(@library), class: 'btn btn-primary' %>
    </div>
    <% end %>
    <div class="w-100"></div>
    <%= render 'books/grid', {books: @library.books} %>
  </div>

  <% authors_count = @library.authors.size %>
  <hr>
  <div class="row">
    <div class="col-auto align-self-center">
      <h4><%=authors_count%> <%=authors_count == 1 ? 'author' : 'authors'%> saved:</h4>
    </div>
    <% if @library.id == @user.library.id %>
      <div class="col text-right align-self-center py-2">
        <%= link_to 'Edit Authors', edit_authors_library_path(@library), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="w-100"></div>
    <%= render 'authors/grid', {authors: @library.authors} %>
  </div>

</section>
