<section id="section-book-show">
    <div class="row justify-content-between">
      <div class="col-auto">
        <%= render 'layouts/display_title', {title: @book.title} %>
      </div>
      <div class="col text-right align-self-center py-2">
        <%= button_to 'Edit Book', edit_book_path(@book), method: 'get', class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-horizontal-md justify-content-between text-right">
          <li class="list-group-item border-0 h3">
            <%= @book.author.nil? ? 'Unknown author' : (link_to @book.author.name, @book.author) %>
          </li>
          <li class="list-group-item border-0 h3"><%= string_year(@book) %></li>
        </ul>
      </div>
    </div>

    <% unless @book.plot.nil? || @book.plot.blank? %>
    <hr>
    <div class="row">
      <div class="col">
        <p><%= @book.plot %></p>
      </div>
    </div>
    <% end %>

    <hr>

    <div class="row">
      <% comm_count = @book.comments.size %>
      <% if comm_count > 0 %>
        <div class="col-12 mt-4 order-last">
          <h3><%= comm_count %> <%= comm_count == 1 ? 'comment:' : 'comments:' %></h3>
          <%= render 'comments/list', {comments: @book.comments.from_last} %>
        </div>
      <% end %>

      <div class="col-12 col-lg-2 order-first">
        <h3 class="mb-3 mb-lg-auto">Leave a comment:</h3>
      </div>
      <div class="col order-1">
        <%= render 'comments/form' %>
      </div>
    </div>

</section>
