<section id="section-book-show">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h1 class="display-1"><%= @book.title %></h1>
      </div>
      <div class="col text-right align-self-center py-2">
        <%= button_to 'Edit Book', edit_book_path(@book), method: 'get', class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-horizontal-md justify-content-between text-right">
          <li class="list-group-item border-0 h3">
            <%= @book.author.nil? ? 'Unknown author' : (link_to @book.author.name, @book.author) %>
          </li>
          <li class="list-group-item border-0 h3"><%= string_dop(@book) %></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p><%= @book.plot %></p>
      </div>
    </div>
  </div>
</section>
